@model IEnumerable<Maersk_Line.Models.ShipYard>

@{
    ViewBag.Title = "Ship Yard";
}

<h2>Ship Yard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipYardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumberOfShipsDocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipYardDockNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNumberOfContainers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipYardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentNumberOfShipsDocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipYardDockNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNumberOfContainers)
        </td>
        <td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ShipyardID })
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ShipyardID })
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ShipyardID })
        </td>
    </tr>
}

</table>
